<!DOCTYPE html>
<html>
  <head>
    <title>Pokegifs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <nav>
      <h1 class="logo"><a href="<%= root_path %>">PokeGIFs</a></h1>

      <%= form_tag(pokemon_index_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Pokemon", type: 'text', id: "query" %>
          <%= submit_tag "Search", class: "submit"%>
      <% end %>
    </nav>

    <%= yield %>

  </body>



</html>
